**/bin
**/obj
**/node_modules
**/dist
**/TestResults
.env
.env.*
!**/.env.example
**/appsettings.Local.json
**/appsettings.Local.example.json
**/appsettings.Development.local.json
docker/docker-compose.override.yml
.git
.vs
.idea
.vscode
data
artifacts
docs/tasks/Zadanie.pdf
